.horizontal-scroll-section {
  position: relative;

  overflow: hidden;
}

.horizontal-scroll-wrapper {
  display: flex;
  gap: 64px;
  height: 100%;
  padding: 0 48px;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

/* Ítems base */
.scroll-item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

/* Largos */
.scroll-item.long {
  width: 480px;
}

/* Cuadrados */
.scroll-item.square {
  width: 250px;
  height: 250px;
}

/* Estilo contenido */
.AQuiNVaDirigidoBox {
  height: 100%;
  width: 100%;
  padding: 24px;
  background: #EDF1FA;
  border-radius: 10px;
  outline: 1px solid #DDE1E6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  color: #48709D;
  font-family: Inter, sans-serif;
}

.AQuiNVaDirigidoBox.square {
  width: 100%;
  height: 100%;
}

/* Simulación de imagen cuadrada */
.square-box {
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 10px;
}

.square-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  border-radius: 10px;    
  display: block;         
}


/* Tipografía */
.Memoria1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
}

.BodyText {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
}
