<section class="horizontal-scroll-section">
  <div class="horizontal-scroll-wrapper">

    {% for card in module.cards %}
      <div class="scroll-item {% if card.tipo_card == 'grande' %}long{% else %}square{% endif %}">

        {% if card.tipo_card == 'imagen' %}
          <div class="square-box">
            {% if card.imagen.src %}
              <img src="{{ card.imagen.src }}" alt="{{ card.imagen.alt }}">
            {% else %}
              IMG
            {% endif %}
          </div>

        {% else %}
          <div class="AQuiNVaDirigidoBox {% if card.tipo_card == 'pequeña' %}square{% endif %}">
            <div class="Header">
              <div class="Memoria1">{{ card.titulo }}</div>
              <div class="Line1">
                <svg width="128" height="6" viewBox="0 0 128 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3 3L125.066 3" stroke="#48709D" stroke-width="5" stroke-linecap="round"/>
                </svg>
              </div>
            </div>
            <div class="BodyText">{{ card.texto }}</div>
          </div>

        {% endif %}
      </div>
    {% endfor %}

  </div>
</section>
