<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home-landing-mpgfundacion-dev
  screenshotPath: ../images/template-previews/home.png
-->

{% set template_css = "../../css/home/home-video-banner.css" %}
{% extends "/web-mpg-fund-dev/templates/layouts/aux_base.html" %}

{% block header %}
  {% global_partial path="./partials/header-aux.html" %}
{% endblock header %}

{% block body %}


  {% dnd_area "dnd_area" label="Main section" class="body-container body-container--home" %}

  {% end_dnd_area %}
{% endblock body %}
 