.blog-listing {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card a {
    text-decoration: none;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(217 217 217);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    padding: 1.1rem;
}

.title {
    color: #111827;
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.desc {
    margin-top: 0.5rem;
    color: #6b7280;
    line-height: 1.25rem;
    text-align: left;
    font-size: 14px !important; /* Forzar tama침o fijo */
    line-height: 1.05rem;
    width: 259px;
}
#idTextPanel p.desc {
  
    font-size: 14px !important; /* Asegurar tama침o fijo */

}

.action, .desc {
    font-size: 14px;
    line-height: 1.05rem;
    width: 259px;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #3F87BA;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 122px; 
}

.action:hover {
    background-color: #1A5F85; /* Un color m치s oscuro para el hover */
    color: #ffffff; /* Asegurar que el texto sea visible */
    transform: scale(1.05); /* Agregar un peque침o zoom para el efecto */
}
